.viewResume {
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  h3 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .dummyText {
    margin-bottom: 30px;
    h4 {
      font-size: 11px;
      font-weight: 600;
    }
    p {
      font-size: 11px;
    }
  }
}

.recentlyApplied {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .cardHeader {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
    p {
      font-size: 11px;
      color: #7c7c7c;
    }
  }
  ul {
    margin: 0;
    li {
      margin-bottom: 15px;
      p {
        display: flex;
        align-items: center;
        font-size: 12px;
        span {
          width: 4px;
          height: 4px;
          margin: 0 4px;
          border-radius: 3px;
          background-color: #d9d9d9;
        }
      }
    }
  }
}
