.ant-tabs-tab {
  padding: 12px0 5px;
}

.empDashJobsCard {
  margin-bottom: 30px;
  h4 {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;

    span {
      display: none;
    }
    i {
      font-size: 16px;
      font-style: normal;
    }
  }
}
