.candidatesProfileCard,
.candidatesProfileCard div,
.candidatesProfileCard ul {
  display: flex;
  flex-basis: 100%;
}

.locationList {
  margin: 0;
  margin-top: 5px;
}
.candidatesProfileCard {
  padding: 12px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  font-size: 12px;
  margin-bottom: 25px;
  p {
    margin: 0;
  }
  .cardHeader {
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    .profile {
      flex-direction: column;
      align-items: flex-start;
      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
      }
      h4 {
        margin: 0;
        display: inline-flex;
        align-items: center;
        a {
          color: #bfbfbf;
        }
        a:hover {
          color: #252525;
        }
        span {
          width: 4px;
          height: 4px;
          margin: 0 4px;
          border-radius: 3px;
          display: inline-block;
          background-color: #d9d9d9;
        }
      }
    }
    p {
      flex-basis: 85%;
      text-align: right;
    }
  }
  ul li {
    display: inline-flex;
    align-items: center;
    gap: 7px;
  }
  .cardInfo ul {
    gap: 30px;
    .icons {
      font-size: 14px;
      color: #9a9a9a;
    }
  }
  .cardTags ul {
    gap: 5px;
    li {
      padding: 4px 12px 3px;
      background-color: #d9d9d9;
      border-radius: 20px;
    }
  }
  .cardFooter {
    justify-content: space-between;
    a {
      border-bottom: 1px solid transparent;
      padding: 0 2px;
    }
    a:first-child {
      color: #bfbfbf;
    }
    // a:last-child {
    //     color: #0066FF;
    // }
    a:hover,
    a:active,
    a:focus {
      color: #252525;
      border-color: #ccc;
    }
  }
  .candidatesProfileCardSmall {
    margin-top: 5px;
    .cardHeader {
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .cardInfo ul {
      display: block;
      margin-bottom: 0;
      li {
        display: flex;
        margin-bottom: 10px;
      }
    }
  }
}

.topFiveCandidatesCard {
  padding: 12px;
  border: 1px solid RGB(232, 232, 232);
  border-radius: 6px;
  h4 {
    font-size: 14px;
    font-weight: 600;
  }
  p {
    font-size: 11px;
    color: #7c7c7c;
    margin-bottom: 15px;
  }
  ul {
    margin: 0;
    li {
      gap: 10px;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      img {
        width: 26px;
        height: 26px;
        border-radius: 20px;
      }
      a {
        font-size: 13px;
        color: #252525;
        line-height: 12px;
        transition: all 0.3s;
        border-bottom: 1px solid transparent;
      }
      a:hover {
        border-color: RGB(0, 102, 255);
      }
    }
  }
}
