@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../public/fonts/Inter-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../public/fonts/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../public/fonts/Inter-Medium.ttf');
  font-weight: 500;
}
