.empDashJobsTop,
.StyleempDashJobsMain,
.empDashJobsFilters {
  padding: 0 20px0 30px;
}

.empDashJobsFilters {
  padding: 5px 15px !important;
  margin: 0 !important;
}

.empDashJobsTop,
.StyleempDashJobsMain {
  margin-top: 30px;
  .btns {
    display: flex;
    justify-content: flex-end;
    .filterBtn {
      margin: 0 10px;
    }
  }
}

.empDashJobsFiltersMain {
  background-color: #f5f5f5;
  padding: 10px 15px0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.StyleempDashJobsMain .tabs {
  margin-bottom: 10px;
  a {
    width: 100px;
    margin-right: 20px;
    font-size: 12px;
    color: #bfbfbf;
    border-bottom: 1px solid transparent;
  }
  .active {
    color: #262626;
    border-color: #ffad3d;
  }
}
.empDashJobsAllCards .dashNewJobsMain {
  padding: 0 !important;
  margin: 0 !important;
}
.empDashJobsCard .anticon {
  display: none !important;
}

.empDashJobsMain {
  padding: 0 30px;
}

.applicantMobile {
  display: none;
}

@media only screen and (max-width: 540px) {
  .empDashJobsTop,
  .StyleempDashJobsMain {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1049px) {
  .applicantDesktop {
    display: none;
  }
  .applicantMobile {
    display: block;
  }
}

/* ==============================================
    Employer Dashboard Jobs (Single View Page)
 ============================================== */
.epmDashSingleInfoMain {
  .jobInfoCard {
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    // margin-bottom: 30px;
    h4 {
      font-size: 14px;
      font-weight: 600;
    }
  }
  .jobInfoCard {
    p {
      font-size: 12px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e8e8e8;
      .dot {
        background-color: #d9d9d9;
        width: 4px;
        height: 4px;
        margin: 2px 2px0;
        border-radius: 5px;
        display: inline-block;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
    }
    span {
      font-size: 12px;
    }
  }
}
.empJobViewRightBtns {
  .btn {
    height: 40px;
    margin-bottom: 15px;
  }
}

// .backToSearch {
//     display: none;
// }

.backToSearch {
  color: #101010;
  padding-bottom: 10px;
  margin-top: 10px;
  display: block;
  cursor: pointer;
}

.applyBTNSingle {
  position: static;
}

.empDashJobWrapper {
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .applyBTNSingle {
    position: fixed;
    padding: 30px;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  // .backToSearch {
  //     display: block;
  //     padding-bottom: 10px;
  //     color: blue;
  //     cursor: pointer;
  // }
}

@media only screen and (max-width: 540px) {
  .empDashJobWrapper {
    padding-top: 10px;
  }
  .backToSearch {
    padding-left: 10px;
  }
}
