.lookupsForm {
  width: 100%;
  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  .search {
    gap: 5px;
    display: flex;
    flex-basis: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    input {
      width: 337px;
      min-width: 250px;
      padding: 6px 10px;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
    }
    input:focus,
    input:focus-visible,
    input:active {
      border-color: #0066ff;
    }
    .btn {
      font-size: 12px;
      border-radius: 4px;
      padding: 5px 10px 5px 6px;
      display: inline-flex;
      align-items: center;
    }
    .icon {
      position: relative;
      right: -5px;
      font-size: 16px;
    }
  }
}

.lookupFormPopupBtns {
  gap: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  .btn {
    padding: 4px 15px !important;
  }
}

.lookupsTableCol {
  padding: 40px0 20px;
}
