.homeBanner {
  background-image: url(../public/img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0066ff;
  padding: 150px0;
  display: flex;
  justify-content: center;
  height: 87vh;
  align-items: center;
  text-align: center;
  h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
  }
  h2,
  p {
    color: #fff;
  }
  .homeSearchBox {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: inline-flex;
    margin-top: 20px;
    flex-wrap: wrap;
    .homeSearchBoxWrapper {
      display: flex;
      flex-wrap: wrap;
    }
    input {
      border: none;
      margin: 0 10px0 18px;
      width: 220px;
      padding-left: 5px;
      &:active,
      &:focus {
        outline: none;
      }
    }
    .bdr {
      width: 2px;
      background-color: #ccc;
      border-radius: 1px;
    }
  }
  @media only screen and (max-width: 580px) {
    h2 {
      width: 90%;
      margin: auto;
    }
  }
}

.btnDesktop,
.btnMobile {
  background-color: #ffad3d;
  border-radius: 4px;
  border: none;
  padding: 5px;
  width: 100px;
  height: 38px;

  color: #000;
}
.btnDesktop:hover,
.btnMobile:hover {
  cursor: pointer;
}

.SelectBox {
  width: 220px;
}
@media screen and (max-width: 500px) {
  .SelectBox {
    width: 190px;
  }
  .searchBtn {
    margin-top: 10px;
  }
  .homeSearchBox {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 600px) {
  .jobsHeading {
    top: 0 !important;
  }
}
.homeJobsSection {
  margin: 40px0;
  min-height: 300px;
  // display: flex;
  // justify-content: space-between;
  h2 {
    position: relative;
    top: 35px;
  }
}
.homeFooter {
  padding: 10px0 30px;
  border-bottom: 1px solid #ccc;
  h3 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
  }
  ul {
    padding: 0 20px00;
    a {
      color: #333;
      display: block;
      padding: 5px0;
      font-size: 12px;
      transition: all 0.25s;
    }
    a:hover {
      padding-left: 4px;
      background-color: rgba($color: #0066ff, $alpha: 0.1);
    }
  }
}
.footerBar {
  padding: 20px;
  text-align: center;
  p {
    margin: 0;
  }
}

.btnMobile {
  display: none;
}

@media only screen and (max-width: 580px) {
  .homeSearchBox {
    display: grid !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 90%;
    margin: auto;
    padding: 5px !important;
    .btn {
      display: none;
    }
  }
  .homeSearchBoxWrapper {
    flex-wrap: nowrap !important;
  }
  .homeJobsSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .btnMobile {
    display: block;
    margin: 10px auto auto auto;
  }
  .SelectBox {
    width: 190px;
  }
}

@media only screen and (max-width: 435px) {
  .SelectBox {
    width: 170px;
  }
}

@media only screen and (max-width: 374px) {
  .SelectBox {
    width: 140px;
  }
}
